/*-------Header Styles--------*/

.logo{
    width: 160px;
    height: 160px;
}

h1{
    color:#ebebeb;
    letter-spacing: 3px;
    margin-bottom: 30px;
}

/*------------------Colours----------------*/
.background-color--black{
    background-color: #423e37;
}
.background-color--gold{
    background-color: #e0a929;
}
.background-color--platinum{
    background-color: #ebebeb;
}