@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&family=Roboto+Slab:wght@300;400;700&display=swap');

body{
    font-family: "Lato",sans-serif;
}

/*-------Header Styles--------*/
h1{
    font-family: "Roboto Slab", sans-serif;
    color:#ebebeb;
    letter-spacing: 3px;
    margin:40px auto;
    font-weight: bold;
}

.logo{
     margin:5px auto;
     border-style: none;
     width:100%;
     height:100%;
     max-width: 240px;
     max-height:240px;
}
.nav-holder{
    margin-left:120px;
}

.nav-holder li a{
    color:#ebebeb;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 2px;
    margin:0 10px;
    font-weight: bold;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.nav-holder li a:hover, .nav-holder li a:hover:active{
    color:#ffec00;
    border-color:#ffec00;
}

.active{
    border-bottom:2px solid #ebebeb;
}

.navbar-toggler-icon{
    margin-top:20px;
    border-style:none;
}

#sign-up-btn{
    margin-right: 40px;
}
/*------------------Colours/text----------------*/
.background-color--black{
    background-color: #0f0f0f;
}
.background-color--gold{
    background-color: #ffec00;
}
.background-color--platinum{
    background-color: #ebebeb;
}

.uppercase{
    text-transform: uppercase;
}


/*------------------Buttons----------------*/
.btn-standard{
    color: #0f0f0f;
    height:40px;
    width:160px;
    border-radius: 26px;
    background-color: #ffec00;
    text-align: center;
    font-weight: bold;
    font-size:20px;
    margin: 0 20px 10px 15px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    line-height: 25px;
}

.btn-standard:hover,
.btn-standard:active{
    background-color: #ebebeb;
  
}

/*------------------Media--------------------*/
@media only screen and (max-width:1024px){
    h1{
        font-size:28px;
        margin: 30px auto;
    }

    .nav-holder{
        margin:5px 40px 5px 110px;

        font-size: 16px;
    }


    #membership-link{
        margin-left:20px;
    }
}

@media only screen and (max-width:576px){
    #membership-link{
        margin-left:0px;
    }
}